header {
    /* padding: 75px; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: url('images/pantry1.jpg'); */
    width: 100%; /* or set to a specific width */
    /* background-size: cover; /* cover or 100% 100% */
    /* background-repeat: no-repeat;
    background-position: 75% 25%; centers the background */
    background-color: black;
}

#container {
    display: flex;
}

#titleContainer {
    margin-left: 25%;
}

#optionsContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-left: 39%;
}

#contact {
    text-decoration: none;
    color: #dddddd;
}

#title {
    color: #dddddd;
    font-weight: bold;
}

#titleText1, #titleText2 {
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#titleText2 {
    margin-top: -10px;
}

#frontPage {
    text-align: center;
    padding: 30px;
}

#recipePage {
    text-align: center;
}

#ingredientTB {
    border-radius: 6px;  /* Rounded corners */
    width: 200px;
    height: 25px;
}

::placeholder {
    text-align: center; 
 }

.popup {
    visibility: hidden;  /* Hide popup by default */
    min-width: 150px;    /* Set a minimum width */
    background-color: #333; /* Dark background */
    color: #fff;         /* White text color */
    text-align: center;
    border-radius: 6px;  /* Rounded corners */
    padding: 8px 0;      /* Padding */
    position: fixed;     /* Fixed positioning */
    z-index: 1;          /* Sit on top of other content */
    left: 50%;           /* Center the popup horizontally */
    bottom: 20px;        /* Position at the bottom */
    transform: translateX(-50%); /* Center align the popup */
    opacity: 0;          /* Start fully transparent */
    transition: opacity 0.5s, visibility 0.5s; /* Transition for fading in/out */
}

.dynamic-border {
    border: 2px solid black; /* Style the border as needed */
    display: inline-block; /* Ensures the div does not take full width */
    padding: 10px; /* Adds some spacing between the text and the border */
    margin: 10px; /* Optional: Adds space around the div */
    background-color: #f9f9f9; /* Optional: Background color */
    font-size: 16px; /* Optional: Adjust font size */
    font-family: Arial, sans-serif; /* Optional: Set font family */
}
